#header{
background-color:#1d9bd1;
color: white;
text-align: center;
padding: 1px;
}
#content{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}
#place{
    font-size: 18px;
}
.para{
    opacity: 0.5;
    font-size: 13px;
}